.Navbar .NavbarBrand{
    color: black !important;
}

.loginHeading{
    text-align: center;
}
.loginForm{
    padding-left: 10%;
    padding-right: 10%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 50px 50px;
}

.justification{
   justify-content: center 
}